*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif; 
}

nav {
    width: 100%; /* para que el nav tome todo el ancho de la página*/
    background: #fff; /* para que no se me vizulice el contenido de la página al momento de hacer un scrool o bajar*/
    box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, .2); /* para darle ese estilo con un marco al menú*/
    position: fixed;/* posició fija del menú.*/
}

ul{
    list-style: none; /* quitar los estilos, en este caso quitar los puntos qeu tienen como una lista*/  
}

li{
    float:left; /* ordenar de manera horizontal*/
}

li a{
    display: block;/*se despliegan como elemntos en bloque */
    padding: 30px; /* para que que queden centrados los enlaces
    text-decoration: none;/* quital la decoracion de link */
}

.seccion1{
    padding: 100px;
}

