nav{
    /* width: 100%; */
    padding: 1%;
}
.ul{
    list-style: none; /* quitar los estilos, en este caso quitar los puntos qeu tienen como una lista*/
    background-color: red;
}

.ul li{
    float:left; /* ordenar de manera horizontal*/
    align-items: center;
    /* background-color:rosybrown; */
    padding: 1% 8% 0 0;
}

.ul li a{
    text-decoration: none;/* quital la decoracion de link */
}

header img {
    width: 8%;
    padding: 3% 0 0 17%;
}

p{
    text-align: justify;
}

section{
    width: 100%;
	/* clear: left; */
	/* text-align: right; */
	font-size: 0.45em;
	margin-top: 30px;
	border-top: 1px solid rgba(128,98,26,1.00);
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
    /* padding: 10% 0 0% 0%; */
}

aside{
    padding: 0 3% 5% 0;
    margin-top: 2%;
    float: left;
    text-align: justify;
    width: 25%;
}

footer{
	width: 96%;
    text-align: center;
	font-size: 0.45em;
	margin-top: 30px;
	border-top: 2px solid rgba(128,98,26,1.00);
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
}

video {
    width: 70%;
    padding: 8% 0 0 0;
}


.seccion4 img{
    margin-top: 2%;
    float: right;
    text-align: justify;
    width: 100%;
    padding: 20% 0 0 0;
}

.seccion5 aside{
    margin-top: 2%;
    float: right ;
    text-align: justify;
    width: 45%;
    padding: 0% 0 0 0;
}


/*------------------- BASE ---------------------------------*/
html {
        background-color:seashell;
        
    }
body {
	border: 1px solid black ;
    width: 80%;
	padding-left: 0.9%;
	padding-right: 0.9%;
	margin: auto;
	clear: none;
	float: none;
	margin-left: auto;
	background-color: white;
}
footer {
	font-size: 1.2em;
}

section{
    font-size: 1.2em;
}

